* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.hero {
  width: 80%;
  margin: auto; }
  .hero .navbar {
    margin: 30px auto;
    display: flex;
    align-items: center; }
    .hero .navbar img {
      width: 18%; }
    .hero .navbar ul {
      flex: 1;
      text-align: right; }
      .hero .navbar ul li {
        display: inline-block;
        list-style: none;
        margin: 0 25px; }
        .hero .navbar ul li a {
          text-decoration: none;
          color: black;
          padding: 0 10px;
          position: relative; }
          .hero .navbar ul li a::after {
            background: none repeat scroll 0 0 transparent;
            top: -55px;
            content: "";
            display: block;
            height: 10px;
            left: 50%;
            position: absolute;
            background: #dfbf9c;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0; }
          .hero .navbar ul li a:hover::after {
            width: 100%;
            left: 0; }
    .hero .navbar-icons {
      margin-left: 50px; }
      .hero .navbar-icons img {
        height: 25px;
        margin-left: 18px;
        cursor: pointer; }
  .hero .banner {
    display: flex;
    margin-top: 80px; }
    .hero .banner .left-column,
    .hero .banner .right-column {
      flex-basis: 50%; }
    .hero .banner .left-column .search-box {
      width: 45%;
      display: flex;
      padding-bottom: 3px;
      border-bottom: 1px solid #ddd;
      margin: 10px 0 30px; }
      .hero .banner .left-column .search-box img {
        height: 25px;
        width: 25px;
        cursor: pointer; }
      .hero .banner .left-column .search-box input {
        width: 100%;
        margin-left: 15px;
        font-size: 17px;
        outline: none; }
    .hero .banner .left-column h1 {
      font-size: 100px; }
    .hero .banner .left-column h3 {
      font-size: 35px; }
    .hero .banner .left-column span {
      color: #dfbf9c; }
    .hero .banner .left-column p {
      font-size: 14px;
      color: #999;
      margin: 50px 0; }
    .hero .banner .left-column .btn {
      margin-bottom: 50px; }
      .hero .banner .left-column .btn .primary-btn {
        background: linear-gradient(#fb7381, #cea00b);
        box-shadow: 0 2px 15px rgba(248, 38, 103, 0.26);
        color: #fff; }
      .hero .banner .left-column .btn button {
        padding: 7px 30px;
        margin-right: 15px;
        outline: none;
        border: 1px solid #dfbf9c;
        border-radius: 20px;
        color: #d69c1e;
        background: transparent; }
    .hero .banner .left-column .social-icons {
      width: 200px;
      text-align: center;
      opacity: .4;
      position: relative;
      margin-left: 160px; }
      .hero .banner .left-column .social-icons img {
        height: 20px;
        margin: 0 14px; }
      .hero .banner .left-column .social-icons::after {
        content: '';
        width: 150px;
        height: 1px;
        background: #000;
        position: absolute;
        left: -160px;
        top: 10px; }
    .hero .banner .right-column img {
      width: 100%;
      border-radius: 10000px; }
