* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.hero {
    width: 80%;
    margin: auto;

    .navbar {
        margin: 30px auto;
        display: flex;
        align-items: center;


        img {
            width: 18%;
        }

        ul {
            flex: 1;
            text-align: right;

            li {
                display: inline-block;
                list-style: none;
                margin: 0 25px;

                a {
                    text-decoration: none;
                    color: black;
                    padding: 0 10px;
                    position: relative;

                    &::after {
                        background: none repeat scroll 0 0 transparent;
                        top: -55px;
                        content: "";
                        display: block;
                        height: 10px;
                        left: 50%;
                        position: absolute;
                        background: #dfbf9c;
                        transition: width 0.3s ease 0s, left 0.3s ease 0s;
                        width: 0;
                    }

                    &:hover::after {

                        width: 100%;
                        left: 0;
                    }




                }
            }
        }

        &-icons {
            margin-left: 50px;

            img {
                height: 25px;
                margin-left: 18px;
                cursor: pointer;
            }
        }
    }

    .banner {
        display: flex;
        margin-top: 80px;

        .left-column,
        .right-column {
            flex-basis: 50%;
        }

        .left-column {
            .search-box {
                width: 45%;
                display: flex;
                padding-bottom: 3px;
                border-bottom: 1px solid #ddd;
                margin: 10px 0 30px;

                img {
                    height: 25px;
                    width: 25px;
                    cursor: pointer;
                }

                input {
                    width: 100%;
                    margin-left: 15px;
                    font-size: 17px;
                    outline: none;
                }

            }

            h1 {
                font-size: 100px;
            }

            h3 {
                font-size: 35px;
            }

            span {
                color: #dfbf9c;
            }
            p{
                font-size: 14px;
                color:#999 ;
                margin:50px 0;
            }
            .btn{
                margin-bottom:50px ;
                .primary-btn{
                    background: linear-gradient(#fb7381,#cea00b);
                    box-shadow: 0 2px 15px rgba(248,38,103,0.26);
                    color: #fff;
                }
                button{
                    padding: 7px 30px;
                    margin-right: 15px;
                    outline: none;
                    border: 1px solid #dfbf9c;
                    border-radius: 20px;
                    color: #d69c1e;
                    background: transparent;
                }
            }
            .social-icons{
                width: 200px;
                text-align: center;
                opacity: .4;
                position: relative;
                margin-left: 160px;

                img{
                    height: 20px;
                    margin: 0 14px;

                }

                &::after{
                  content: '';
                  width: 150px;
                  height: 1px;
                  background: #000;
                  position: absolute;
                  left: -160px;
                  top: 10px;


                }
            }

        }

        .right-column {
            img {
                width: 100%;
                border-radius: 10000px;
            }
        }


    }
}